<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />
    <link rel="shortcut icon" href="" />
    <link rel="shortcut icon" href="#" />
    <script src="app.js" type="module" defer></script>
    <title>Document</title>
    <style>
      body {
        margin: 0 auto;
        padding: 4em 0;
        max-width: 640px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <form action="" @submit.prevent="currencyList">
        <label for="">From:</label>

        <select name="currency" id="currency">
          <option value="" v-for="(currency, index) in currencies" :key="index">
            {{index}} ({{currency}})
          </option>
        </select>
        <input type="text" id="" />
        <br />

        <label for="">To:</label>
        <select name="currency" id="currency">
          <option value="" v-for="(currency, index) in currencies" :key="index">
            {{index}} ({{currency}})
          </option>
        </select>
        <input type="text" id="" />

        <button type="submit">Convert</button>
      </form>
    </div>
  </body>
</html>
